@model CategoryListViewModel

<section>
    <h1>Categories</h1>
    <ul class="list-group">

    @foreach (var item in Model.Categories)
    {
        <li class="list-group-item">@item.Title</li>
    }
    </ul>
</section>